body {
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: black;
  grid-template-columns: 1fr 3fr;
  width: 1200px;
  margin: auto;
}

#sidebar {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  background-color: rgb(173, 142, 39);
}

#sidebar ul {
  margin: 0;
  padding: 0;
}

#sidebar li {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 12px 0;
}

#sidebar li:nth-child(4) {
  justify-content: center;
  gap: 30px;
}

#sidebar li:nth-child(5) {
  justify-content: center;
}

#sidebar input:invalid {
  border-color: #900;
  background-color: #fdd;
}


#sidebar .error {
  position: absolute;
  width: auto;
  padding: 0;
  top: 33px;
  left: 85px;

  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;

  box-sizing: border-box;
}

#sidebar li:nth-child(3) .error {
  top: 40px;
}

.error.active {
  padding: 0.3em;
}

#library {
  display: grid;
  justify-content:space-around;
  background-color: rgb(49, 49, 63);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(autofit, minmax(150px, 1fr));
  grid-auto-flow: row;
  gap: 10px;
  padding: 10px;
}

.game {
  background-color: rgb(218, 208, 193);
  padding: 10px;
  border-radius: 5px;
}

.game button {
  margin-right: 10px;
}